/*!
 *  Hi现场version 1.0.0 字体 
 *  生成网站https://icomoon.io/app/#/select/image
 */
/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'Hixianchang';
	src:url('/fonts/Hixianchang.eot?-i1xixf');
	src:url('/fonts/Hixianchang.eot?#iefix-i1xixf') format('embedded-opentype'),
		url('/fonts/Hixianchang.woff?-i1xixf') format('woff'),
		url('/fonts/Hixianchang.ttf?-i1xixf') format('truetype'),
		url('/fonts/Hixianchang.svg?-i1xixf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hi {
  display: inline-block;
  font: normal normal normal 14px/1 Hixianchang;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* makes the font 33% larger relative to the icon container */
.hi-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.hi-2x {
  font-size: 2em;
}
.hi-3x {
  font-size: 3em;
}
.hi-4x {
  font-size: 4em;
}
.hi-5x {
  font-size: 5em;
}
.hi-fw {
  width: 1.28571429em;
  text-align: center;
}

.hi-mstching:before {
    content: "\e900";
}
.hi-publish:before {
    content: "\e905";
}
.hi-design:before {
    content: "\e904";
}
.hi-logowall:before {
    content: "\e903";
}
.hi-list:before {
    content: "\e902";
}
.hi-basic:before {
    content: "\e901";
}
.hi-shakePrize:before {
    content: "\e906";
}
.hi-ppt:before {
    content: "\e61b";
}
.hi-mobileset:before {
    content: "\e61a";
}
.hi-qrcode:before {
    content: "\e619";
}
.hi-bigscreen:before {
    content: "\e618";
}
.hi-guest:before {
    content: "\e617";
}
.hi-shake:before {
    content: "\e616";
}
.hi-users:before {
    content: "\e615";
}
.hi-user-add:before {
    content: "\e614";
}
.hi-total:before {
    content: "\e613";
}
.hi-setter:before {
    content: "\e612";
}
.hi-set:before {
    content: "\e611";
}
.hi-rush:before {
    content: "\e610";
}
.hi-preview:before {
    content: "\e60f";
}
.hi-pie:before {
    content: "\e60e";
}
.hi-pics:before {
    content: "\e60d";
}
.hi-pic:before {
    content: "\e60c";
}
.hi-msg-much:before {
    content: "\e60b";
}
.hi-msg-empty:before {
    content: "\e60a";
}
.hi-msg:before {
    content: "\e609";
}
.hi-gift:before {
    content: "\e608";
}
.hi-error:before {
    content: "\e607";
}
.hi-edit-xi:before {
    content: "\e606";
}
.hi-edit:before {
    content: "\e605";
}
.hi-copy:before {
    content: "\e604";
}
.hi-check:before {
    content: "\e603";
}
.hi-chart:before {
    content: "\e602";
}
.hi-arrow:before {
    content: "\e601";
}
.hi-add:before {
    content: "\e600";
}

